# Dockerignore file for The Glitch Kitchen
Dockerfile
.dockerignore
.git
.gitignore
README.md
.next
.swc
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-store
.env*.local
.vscode
.idea
*.md
